<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MindShare</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/lottie-web@latest/build/player/lottie.min.js"></script>
</head>
<body>
  <header>
    <h2 class="animate__animated animate__backInRight">MindShare</h2>
    <ul id="header-list" class="animate__animated animate__backInLeft">
      <li class="menu"><a href="/">Home</a></li>
      <li class="menu"><a href="/blog">Blog</a></li>
    </ul>
  </header>

  
