<%- include("partials/header.ejs") %>

<main>
  <div id="main-container">
    <div id="title-and-btn">
      <h1 id="my-h1">Welcome to <span>MindShare</span>, a place to share what is in your mind</h1>
      <button><a href="/blog">Get started</a></button>
    </div>
    
    <div id="index-animation"></div>
  </div>
  
  

  
  <script src="scripts/scripts.js"></script>
</main>


<%- include("partials/footer.ejs") %>